@import "./colors.module.scss";

.main {
  background-image: linear-gradient(to bottom, #151515, black);
}

.formTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.form {
  width: 600px;
  padding: 50px;
  border: 1px solid $darkGray;
  margin: 0 auto;
}